.signup-form {
    width: 40%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;
    border: solid;
    padding: 30px;
    border-width: 1.5px;
    border-radius: 20px;
    border-color: grey;
}

.form-control {
    border-radius: 20px;
}

.signup-btn {
    border-radius: 20px;
}